body {
    background-color: lightblue;
    color: rgb(78, 36, 82);
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: darkblue; 
    color: white; 
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

main {
    background-color: white; 
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

footer {
    background-color: darkblue; 
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

a {
    text-decoration: none;
}